In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

In [2]:
data1 = pd.read_excel('Data_Extract_From_Gender_Statistics.xlsx')
def_data1 = pd.read_excel('Data_Extract_From_Gender_Statistics.xlsx', sheetname=1)

data2 = pd.read_excel('Data_Extract_From_Health_Nutrition_and_Population_Statistics.xlsx')
def_data2 = pd.read_excel('Data_Extract_From_Health_Nutrition_and_Population_Statistics.xlsx', sheetname=1)

data3 = pd.read_excel('Data_Extract_From_Millennium_Development_Goals.xlsx')
def_data3 = pd.read_excel('Data_Extract_From_Millennium_Development_Goals.xlsx', sheetname=1)

data_cnt = pd.read_csv('all.csv')

In [3]:
years_c = [str(item) for ind, item in enumerate(np.array(data1.columns)) if ind not in (range(0,4))]

In [34]:
def Fillnan(data):
    for name in years_c:
        data[name] = data[name].apply(lambda x: np.nan if x==(u'..') else float(x))
    for name in data.columns:
        if name not in years_c:
            data[name] = data[name].apply(lambda x: str(x))
    return data
    
def Dropempt(data):
    tmp=[]
    for ind, item in enumerate(data[years_c].as_matrix()):
        if np.nansum(item) == 0:
            tmp.append(ind)
    data = data.drop(data.index[tmp]).reset_index()
    return data.drop('index', axis=1)
    
def Clearing(data):
    if data1['Country Code'].get_value(len(data1)-5) == np.nan:
        data=data.drop(data.index[[range(len(data1)-5, len(data1))]]).reset_index()
    data = Dropempt(Fillnan(data))
    return data

def Make_region(code):
    #print code
    if code in data_cnt['name'].values:
        #print code
        name = (data_cnt['name'][data_cnt['name'] == str(code)].index.tolist())[0]
        return data_cnt['region'].get_value(name)
    else:
        return np.nan

def Sorting(data):
    if data1['Country Name'].get_value(len(data1)-5) == np.nan:
        data = Clearing(data)
    data['Regions'] = data['Country Name'].apply(lambda x: Make_region(x))
    return data
Sorting(data2).head()

C:\Users\Denis\Anaconda2\lib\site-packages\ipykernel_launcher.py:25: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal

,Series Name,Series Code,Country Name,Country Code,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],Regions
0,Age dependency ratio (% of working-age populat...,SP.POP.DPND,Afghanistan,AFG,102.933,102.217,101.29,100.248,99.0784,99.5743,100,100.216,100.06,99.4598,97.6679,95.3127,92.6028,89.7738,86.9545,Asia
1,Age dependency ratio (% of working-age populat...,SP.POP.DPND,Albania,ALB,58.669,57.6019,56.3649,55.0015,53.5469,52.152,50.863,49.6638,48.6371,47.8851,46.7203,45.8357,45.2475,44.9122,44.807,Europe
2,Age dependency ratio (% of working-age populat...,SP.POP.DPND,Algeria,DZA,60.1059,57.614,55.3775,53.3814,51.6659,50.4006,49.4879,48.91,48.645,48.6819,49.2336,49.8477,50.6007,51.5366,52.6176,Africa
3,Age dependency ratio (% of working-age populat...,SP.POP.DPND,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,Oceania
4,Age dependency ratio (% of working-age populat...,SP.POP.DPND,Andorra,ADO,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,Europe