In [2]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [31]:
round((data['Survived'].value_counts()[1]*100)/float(len(data['Survived'])),2)

38.38

In [34]:
data['Pclass'].value_counts()[1]

216

In [35]:
round((data['Pclass'].value_counts()[1]*100)/float(len(data['Pclass'])),2)

24.24

In [40]:
round(data['Age'].mean(), 2)

29.7

In [39]:
data['Age'].median()

28.0

In [48]:
round(data['SibSp'].corr(data['Parch'], method='pearson'), 2)

0.41

In [110]:
Names=[]
for i in range(1, len(data['Name'])):
    if data['Sex'][i]=='female':
        Names.append(data['Name'][i])
Names=pandas.Series(Names).str.split()

In [115]:
Names[2][2]

'Jacques'

In [116]:
s1=[]
for i in range(1,len(Names)):
    s1.append(Names[i][2])

In [117]:
s1=pandas.Series(s1)

In [118]:
s1.value_counts()

William      13
Mary          9
Anna          9
Elizabeth     6
Margaret      6
Thomas        6
Alice         5
Frederick     5
John          5
Helen         4
Bertha        4
James         4
Edward        4
Ellen         4
Annie         3
Henry         3
Kate          3
Samuel        3
Katherine     3
Hanora        3
Mrs.          3
Joseph        3
Charles       3
Mabel         2
Marija        2
Alexander     2
Constance     2
Marion        2
Marjorie      2
Sidney        2
             ..
Amy           1
Joan          1
Dorothy       1
Hjalmar       1
Dickinson     1
Laura         1
Hilda         1
Norman        1
Countess.     1
Laina         1
(Marion       1
Kristina      1
Adele         1
(Lutie        1
Helmina       1
Ann           1
Ethel         1
Gerda         1
Kornelia      1
Harriet       1
Carl          1
Stella        1
Jamila        1
Lizzie        1
Karl          1
Eva           1
Henriette     1
Robina        1
Jeannie       1
Richard       1
dtype: int64