In [104]:
import pandas as pd
import numpy as np
data = pd.read_csv('titanic.csv', index_col='PassengerId')

Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

In [105]:
new_data = data[['Pclass','Fare','Age','Sex']]
new_data.head(5)

             Pclass     Fare   Age     Sex
PassengerId
1                 3   7.2500  22.0    male
2                 1  71.2833  38.0  female
3                 3   7.9250  26.0  female
4                 1  53.1000  35.0  female
5                 3   8.0500  35.0    male

Обратите внимание, что признак Sex имеет строковые значения.

In [106]:
for i in range(1, len(new_data.Sex)+1):
    if new_data.Sex[i]=='female':
        new_data.set_value(i, 'Sex', 0, takeable=False)
    else:
        new_data.set_value(i, 'Sex', 1, takeable=False)

In [107]:
new_data.Sex.value_counts()

1    577
0    314
Name: Sex, dtype: int64

Выделите целевую переменную — она записана в столбце Survived.

In [122]:
target = data.Survived.values

В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки.

In [129]:
#features = (new_data[['Age', 'Fare']].dropna(how='all')).as_matrix()
features = new_data[['Pclass','Fare','Age','Sex']].replace(np.nan, new_data[['Pclass','Fare','Age','Sex']].mean())

Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).

In [130]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(random_state=241)
clf = clf.fit(features,target)

In [131]:
importances = clf.feature_importances_

In [132]:
importances

array([ 0.12368287,  0.29766742,  0.26747388,  0.31117584])

In [ ]:
clf1 = tree.DecisionTreeRegressor()
clf1 = clf.fit(X, y)

Fare,Sex - Эти признаки являются наиболее информативными, так как при крушении корабля в первую очередь спасали женщин и пассажиров первого класса, где ехали пассажиры с наиболее дорогими билетами