In [8]:
import numpy as np, pandas as pd

import lightgbm as lgb

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import

In [13]:
df = pd.read_csv('train.csv.zip')

In [17]:
!ls

1-1-lgb.ipynb	 lstm_predictor.py	    train_1.csv
11_stack.ipynb	 main.ipynb		    train.csv
1-2.ipynb	 plot			    train.csv.zip
ATM.csv		 __pycache__		    trainmon.csv
dates.csv	 RealMarketPriceDataPT.csv  Untitled1.ipynb
figure.pdf	 simple_stat_id.csv	    Untitled2.ipynb
Great sol.ipynb  simple_stat_id.csv.zip     Untitled.ipynb
hol.csv		 submission.csv		    Папка
IDAO-master	 Tensorflow.ipynb

In [16]:
pd.read_csv('hol.csv')

     days_to_holiday  days_after_holiday   Timestamp
0                  0                  -1  2015-01-01
1                  0                  -1  2015-01-02
2                  0                  -1  2015-01-03
3                  0                  -1  2015-01-04
4                  0                  -1  2015-01-05
5                  0                  -1  2015-01-06
6                  0                  -1  2015-01-07
7                  0                  -1  2015-01-08
8                  0                 -45  2015-01-09
9                  1                 -44  2015-01-10
10                 2                 -43  2015-01-11
11                 3                 -42  2015-01-12
12                 4                 -41  2015-01-13
13                 5                 -40  2015-01-14
14                 6                 -39  2015-01-15
15                 7                 -38  2015-01-16
16                 8                 -37  2015-01-17
17                 9                 -36  2015-01-18
18                10                 -35  2015-01-19
19                11                 -34  2015-01-20
20                12                 -33  2015-01-21
21                13                 -32  2015-01-22
22                14                 -31  2015-01-23
23                15                 -30  2015-01-24
24                16                 -29  2015-01-25
25                17                 -28  2015-01-26
26                18                 -27  2015-01-27
27                19                 -26  2015-01-28
28                20                 -25  2015-01-29
29                21                 -24  2015-01-30
..               ...                 ...         ...
961               68                 -77  2017-08-19
962               69                 -76  2017-08-20
963               70                 -75  2017-08-21
964               71                 -74  2017-08-22
965               72                 -73  2017-08-23
966               73                 -72  2017-08-24
967               74                 -71  2017-08-25
968               75                 -70  2017-08-26
969               76                 -69  2017-08-27
970               77                 -68  2017-08-28
971               78                 -67  2017-08-29
972               79                 -66  2017-08-30
973               80                 -65  2017-08-31
974               81                 -64  2017-09-01
975               82                 -63  2017-09-02
976               83                 -62  2017-09-03
977               84                 -61  2017-09-04
978               85                 -60  2017-09-05
979               86                 -59  2017-09-06
980               87                 -58  2017-09-07
981               88                 -57  2017-09-08
982               89                 -56  2017-09-09
983               90                 -55  2017-09-10
984               91                 -54  2017-09-11
985               92                 -53  2017-09-12
986               93                 -52  2017-09-13
987               94                 -51  2017-09-14
988               95                 -50  2017-09-15
989               96                 -49  2017-09-16
990               97                 -48  2017-09-17

[991 rows x 3 columns]

In [3]:
def pred(X, y, i):
    clf = lgb.LGBMRegressor()
    
    return predictions[1:][['DATE', 'ATM_ID', 'CLIENT_OUT']].reset_index(drop=True)

def check_id(X, y):
    
    lgb.LGBMRegressor()
    error = mean_absolute_error(test, predictions)
    return error

{'boosting_type': 'gbdt',
 'learning_rate': 0.05,
 'max_depth': 2,
 'min_child_samples': 5,
 'min_child_weight': 0.003,
 'min_split_gain': 0.1,
 'n_estimators': 100,
 'n_jobs': 1,
 'num_leaves': 40,
 'objective': 'regression',
 'reg_alpha': 0.4,
 'reg_lambda': 0.4,
 'subsample': 0.5,
 'subsample_for_bin': 200000,
 'subsample_freq': 2}

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       learning_rate=0.1, max_depth=-1, min_child_samples=20,
       min_child_weight=0.001, min_split_gain=0.0, n_estimators=100,
       n_jobs=-1, num_leaves=31, objective=None, random_state=None,
       reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
       subsample_for_bin=200000, subsample_freq=1)

In [4]:
forc=[]
for i in df['ATM_ID'].unique():
    y = df[df['ATM_ID']==i]['CLIENT_OUT']
    forc.append([check_id(y), i])
forc = pd.DataFrame(forc, columns=['ERROR', 'ATM_ID'])

In [5]:
res = pd.DataFrame()
for i in forc.sort_values(by='ERROR').head(50)['ATM_ID']:
    y = df[df['ATM_ID']==i]['CLIENT_OUT']
    res = pd.concat([res, pred(y, i)])

In [6]:
res.to_csv('submission.csv', index=False)